
@font-face {
  font-family: "Formula";
  src:
    local("Formula"),
    url("./assets/fonts/PPFormula-CondensedBlack.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, system-ui;
    text-transform: uppercase;
    color: rgb(220, 220, 154);
}

#lienzo {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.botones {
    position: absolute;
    bottom: 20vh;
    left: 2vh;
    display: flex;
    gap: 2vh;
}

button {
    width: 10vh;
    height: 10vh;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    font-weight: bold;
    color: black;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: bisque;
}

#carpetButton {
    background-image: url(./assets/texturas/carpet/albedo.png);
}

#bricksButton {
    background-image: url(./assets/texturas/bricks/albedo.png);
}

#rustedButton {
    background-image: url(./assets/texturas/rusted/albedo.png);
}

#centroLogo {
    position: absolute;
    bottom: 5vh;
    right: 2.2vh;
    width: 10vh;
}
/* HEADER */
header {
    position: absolute;
    top: 3vh;
    left: 3vh;
    z-index: 10;
    text-align: left;
    font-family: "Orbitron", sans-serif;
    pointer-events: none;
  }
  
  .header-top {
    display: flex;
    align-items: baseline;
    gap: 3vh;
  }
  
  header .main-title {
    font-size: 14vh;
    font-weight: 900;
    color: #956bbf; /* morado */
    margin: 0;
    line-height: 0.9;
    pointer-events: auto;
  }
  
  header .subtitle {
    font-size: 5vh;
    font-weight: 800;
    color: rgb(220, 220, 154);
    margin: 1vh 0 0 0;
  }
  
  header .date {
    font-size: 2vh;
    font-weight: 500;
    color: #837063; 
    margin-top: 1vh;
  }
  
  /* LINKS IG + GITHUB */
  .social-links {
    display: flex;
    gap: 2vh;
    pointer-events: auto;
  }
  
  .social-links a {
    font-size: 2vh;
    font-weight: 600;
    color: rgb(220, 220, 154);
    text-decoration: none;
    transition: color 0.2s ease;
    margin-left: -1vh;
  }
  
  .social-links a:hover {
    color: #956bbf;
  }
  
  /* PANEL INTERACCIONES */
  .info-panel {
    position: absolute;
    bottom: 10vh;
    left: 3vh;
    width: 25%;
    z-index: 10;
    background: none;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .info-title {
    font-size: 2.5vh;
    margin-bottom: 1vh;
    color: #956bbf;
    font-weight: 700;
  }
  
  .info-panel ul {
    font-size: 1.8vh;
    line-height: 1.8;
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #FFD700; /* amarillo */
  }
